{% extends 'master.html' %}
<!DOCTYPE html>
<html>
<head>
	{% block css %}

{% endblock %}

<!--
0D7C66 -dark green
41B3A2 - light green
BDE8CA - lighter green
D7C3F1 - Violet
-->
</head>

<body>
	{% block content %}
	<br><br>
<div class="center textgreen font main-content">
	<div class="typewriter">
<p class="line1">Struggling to find the right gadget?</p>
	<p class="line2">We're here to help. Whether you're looking for a smartphone, laptop, or tablet, we analyze your preferences to recommend the perfect device</p>
</div>
<p>Answer a Few Questions, Get the Best Device Recommendations!</p>

</div>
<br><br><br>
	<div class="center">
	
<a href="{% url 'inputprompt' %}">
    <button class="button button--pan">Start the Quiz Now</button>
</a>
</div>




{% endblock %}

</body>
</html>