<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\fontawesome.min.css' %}">
    <script src="https://kit.fontawesome.com/0062426fab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
   

</style>

{% block css %}

{% endblock %}

<!--
0D7C66 -dark green
41B3A2 - light green
BDE8CA - lighter green
D7C3F1 - Violet
-->
</head>
<body style="background-color:#eae8e0">
<title>DeviceSage </title>
<br><br>
<div id="maintitle" class="content-wrapper">
    <div>
    <!--<a href="{% url 'DigitalHome' %}" ><i class="fa fa-house iconchange"></i></a>-->
    <a href="{% url 'DigitalHome' %}" style="color:#db842c"><h1 style="font-size:100px;">DeviceSage  </h1></a>
    <!--<h2>Explore Your Ideal Device</h2>-->
    </div>

</div>

<div>
    {% block content %}
  
    {% endblock %}  
</div>
<!-----
<footer>

    <div  ></div>
        <img  style='width:30%' src="{% static 'images/laptop.png' %}" alt="My Image"/>
    </div>

</footer>
-->
</body>



{% block script %}

{% endblock %}  
</html>